<!doctype html>
<html lang="en">

<head>
    <!-- ==============Required meta tags============ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ==============Bootstrap CSS =================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!--=========== Plain CSS===========-->
    <link rel="stylesheet" href="./public/css/style.css">
    <title>WEconnect | Catalog </title>
</head>

<body>
    <!--============Header content ========-->
    <header class="container-fluid" id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="logodiv">
                <h1 id="logoheader">
                    <span id="logo">WE</span>Connect
                </h1>
            </div>
            <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto float-sm-right float-md-right float-lg-right">
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="catalog.html">Catalog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="signup.html" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="registerbusiness.html" class="nav-link">
                            Join Business
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--========= main content ======== -->
    <section class="catalogbackground">
        <div class="pt-5 mb-5">
            <div class=" text-light">
                <h1 id="logoheader" class="text-center display-4">
                    <span class="text-orange display-4">WE</span>Connect You!
                </h1>
            </div>
            <!-- <h1 class="text-center text-light display-4">WEconnect You!</h1> -->
        </div>
        <marquee>
            <p class="text-light">WEConnect is a platfom that connects individuals and businesses together. We promise our best services.
                <strong class="text-danger">Stay connected!.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ea accusamus minus, provident enim aspernatur animi, ab
                deleniti odio error
                <strong class="text-danger">quasi cupiditate!</strong>
            </p>
        </marquee>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>