/* ========== global ========== */
* {
    font: 15px/1.5 Arial, sans-serif;
  }
  
  html, body {
    background-color:#f4f4f5;
    margin: 0;
    padding:0;
  }
  
  /*====== home page bacground ==== */
#backgroundpichomepage {
    background: url('./../img/andelapic.jpg') no-repeat;
    background-size:cover;
    height: auto;
    width: 100%;
    color: #ffffff;
  }